@if(resume){

  <form [formGroup]="form" (ngSubmit)="saveResume($event)">
    <div class="flex flex-col bg-neutral-50 dark:bg-neutral-800 w-screen sm:w-[800px] p-6 rounded-lg shadow-xl border border-neutral-200 dark:border-neutral-700 mx-auto">


    @if(showBasicInfo){
    <div class="flex flex-row items-center mb-6 text-lg font-semibold">
      <div>Informacion Basica:</div>
    </div>
    <div class="grid gap-y-4 gap-x-6 mb-6 sm:grid-cols-2">
      <!-- Name -->
        <div>
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">{{ "candidate_resume.fullname" | transloco}}:</label>
          @if(!isInfoEditing){<div>{{ resume.name }}</div>}
          @if(isInfoEditing){
          <input type="text" id="name" formControlName="name" placeholder="{{ 'candidate_resume.fullname' | transloco}}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          }
        </div>

        <!-- Email -->
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">{{ "candidate_resume.contact_email" | transloco}}:</label>
          @if(!isInfoEditing){<div>{{ resume.email }}</div>}
          @if(isInfoEditing){
          <input type="email" id="email" formControlName="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="{{ 'candidate_resume.email_placeholder' | transloco}}">
          }
        </div>

        <!-- Phone -->
        <div>
          <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">{{ 'candidate_resume.phone_number' | transloco}}:</label>
          @if(!isInfoEditing){<div>{{ resume.phone }}</div>}
          @if(isInfoEditing){
          <input type="tel" id="phone" formControlName="phone"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="{{ 'candidate_resume.phone_number_placeholder' | transloco}}">
          }
        </div>

        <!-- Zip Code -->
        <div>
          <label for="zipcode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">{{ 'candidate_resume.zipcode' | transloco}}:</label>
          @if(!isInfoEditing){<div>{{ resume.zipcode }}</div>}
          @if(isInfoEditing){
          <input type="text" id="zipcode" formControlName="zipcode"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="{{ 'candidate_resume.zipcode_placeholder' | transloco}}">
          }
        </div>

        <!-- City -->
        <div>
          <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">{{ 'candidate_resume.city' | transloco}}:</label>
          @if(!isInfoEditing){<div>{{ resume.city }}</div>}
          @if(isInfoEditing){
          <input type="text" id="city" formControlName="city"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="{{ 'candidate_resume.city_placeholder' | transloco}}">
          }
        </div>

      </div>
      <!-- <div>
        @if(!isInfoEditing){
        <button
          class="text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Modificar
        </button>
        }
        @if(isInfoEditing){
        <button
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Guardar
        </button>
        }
      </div> -->
  }


    @if(showSummary){
    <!-- Summary -->
    <div class="flex flex-row justify-between items-center mb-6 text-lg font-semibold">
      <div>Summary :</div>
      <!-- @if(!isInfoEditing){
      <button
        class="text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"

      >
        Modificar
      </button>
      }
      @if(isInfoEditing){
      <button
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"

      >
        Guardar
      </button>
      } -->
    </div>
    <div class="grid gap-y-4 gap-x-6 mb-6">
        <!-- <label for="summary" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">{{ "candidate_resume.summary" | transloco}}:</label> -->
        @if(!isInfoEditing){<div class="text-sm">{{ resume.summary }}</div>}
        @if(isInfoEditing){
        <div class="h-80 sm:h-48">
        <textarea id="summary" formControlName="summary"
                  class="bg-gray-50 border h-full border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </textarea>
        </div>
        }
    </div>
  }


    <!-- Sección de Experiencia Laboral -->
  @if(showWorkExperience && worksFormArray.length > 0){

    <div class="flex flex-row justify-between items-center text-lg font-semibold mb-4 mx-1">
      <div class="grow"></div>
      <button type="button" (click)="previousWork()" [disabled]="currentWorkIndex === 0"
              class="flex flex-row mx-4 px-1 py-0.5 items-center text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 disabled:opacity-50 disabled:cursor-not-allowed">
        <mat-icon>arrow_circle_left</mat-icon>
      </button>
      <div class="text-xl font-bold">{{ "candidate_resume.work_experience" | transloco}}</div>

      <button type="button" (click)="nextWork()" [disabled]="currentWorkIndex === worksFormArray.length - 1"
              class="flex flex-row mx-4 px-1 py-0.5 items-center text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 disabled:opacity-50 disabled:cursor-not-allowed">
        <mat-icon>arrow_circle_right</mat-icon>
      </button>
      <div class="grow"></div>
    </div>
    <div [formGroup]="currentWorkFormGroup" class="mb-4 p-1 border border-gray-300 rounded-lg dark:border-gray-600">

    <div class="flex flex-row justify-between items-center mb-6 text-lg font-semibold">
      <div>Experiencia {{ currentWorkIndex + 1 }} de {{ worksFormArray.length }}</div>
      <!-- @if(!isInfoEditing){
      <div
        class="text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"

      >
        Modificar
      </div>
      }
      @if(isInfoEditing){
      <button
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Guardar
      </button>
      } -->
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">Job Title:</label>
        @if(!isInfoEditing){<div>{{ currentWorkFormGroup.value.jobtitle }}</div>}
        @if(isInfoEditing){
        <input type="text" formControlName="jobtitle" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
        }
      </div>
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">Company:</label>
        @if(!isInfoEditing){<div>{{ currentWorkFormGroup.value.company }}</div>}
        @if(isInfoEditing){
        <input type="text" formControlName="company" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
        }
      </div>
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">Dates:</label>
        @if(!isInfoEditing){<div>{{ currentWorkFormGroup.value.dates }}</div>}
        @if(isInfoEditing){
        <input type="text" formControlName="dates" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
        }
      </div>
      <div class="md:col-span-2">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">Description:</label>
        @if(!isInfoEditing){<div>{{ currentWorkFormGroup.value.description }}</div>}
        @if(isInfoEditing){
        <textarea formControlName="description" rows="3" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"></textarea>
        }
      </div>
    </div>

    <div class="flex justify-between mt-4">
      <!-- <div class="flex space-x-2">
        <button type="button" (click)="previousWork()" [disabled]="currentWorkIndex === 0"
                class="text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 disabled:opacity-50 disabled:cursor-not-allowed">
          Anterior
        </button>
        <button type="button" (click)="nextWork()" [disabled]="currentWorkIndex === worksFormArray.length - 1"
                class="text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 disabled:opacity-50 disabled:cursor-not-allowed">
          Siguiente
        </button>
      </div> -->
      <button type="button" (click)="removeWork(currentWorkIndex)"
              class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
        Eliminar
      </button>
    </div>
  </div>

  <!-- @if(!isInfoEditing){
    <div class="flex flex-row justify-between items-center text-lg font-semibold">
      <div
        class="flex flex-row items-center text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        (click)="goBackShow()"
      >
        <mat-icon>arrow_back</mat-icon>
        <div>
          Back
        </div>
      </div>
      <div class="grow"></div>
      <div
        class="flex flex-row items-center text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        (click)="forwardShow()"
      >
        <div>
          Avanzar
        </div>
         <mat-icon>arrow_forward</mat-icon>
      </div>
    </div>
    } -->
  }

  @if(showCertification && certificationsFormArray.length > 0){
  <div class="flex flex-row justify-between items-center text-lg font-semibold mb-4 mx-1">
    <div class="grow"></div>
    <button type="button" (click)="previousCert()" [disabled]="currentCertIndex === 0"
            class="flex flex-row mx-4 px-1 py-0.5 items-center text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 disabled:opacity-50 disabled:cursor-not-allowed">
      <mat-icon>arrow_circle_left</mat-icon>
    </button>
    <div class="text-xl font-bold">{{ "candidate_resume.certifications" | transloco}}</div>
    <button type="button" (click)="nextCert()" [disabled]="currentCertIndex === certificationsFormArray.length - 1"
            class="flex flex-row mx-4 px-1 py-0.5 items-center text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 disabled:opacity-50 disabled:cursor-not-allowed">
      <mat-icon>arrow_circle_right</mat-icon>
    </button>
    <div class="grow"></div>
  </div>

  <div [formGroup]="currentCertFormGroup" class="mb-4 p-1 border border-gray-300 rounded-lg dark:border-gray-600">
    <div class="flex flex-row justify-between items-center mb-6 text-lg font-semibold">
      <div>Certificación {{ currentCertIndex + 1 }} de {{ certificationsFormArray.length }}</div>
      <!-- @if(!isInfoEditing){
        <div
          class="text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"

        >
          Modificar
        </div>
      }
      @if(isInfoEditing){
        <button
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"

        >
          Guardar
        </button>
      } -->
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">Certificate:</label>
        @if(!isInfoEditing){<div>{{ currentCertFormGroup.value.certificate }}</div>}
        @if(isInfoEditing){
          <input type="text" formControlName="certificate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
        }
      </div>
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">Issuing Organization:</label>
        @if(!isInfoEditing){<div>{{ currentCertFormGroup.value.issuingOrganization }}</div>}
        @if(isInfoEditing){
          <input type="text" formControlName="issuingOrganization" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
        }
      </div>
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">Year:</label>
        @if(!isInfoEditing){<div>{{ currentCertFormGroup.value.year }}</div>}
        @if(isInfoEditing){
          <input type="text" formControlName="year" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
        }
      </div>
    </div>

    <div class="flex justify-end mt-4">
      <button type="button" (click)="removeCertification(currentCertIndex)"
              class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
        Eliminar
      </button>
    </div>
  </div>

  <div class="flex justify-start mt-4">
    <button type="button" (click)="addCertification()"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Añadir Certificación
    </button>
  </div>
  }


  @if(showEducation && educationFormArray.length > 0){
    <div class="flex flex-row justify-between items-center text-lg font-semibold mb-4 mx-1">
      <div class="grow"></div>
      <button type="button" (click)="previousEducation()" [disabled]="currentEducationIndex === 0"
              class="flex flex-row mx-4 px-1 py-0.5 items-center text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 disabled:opacity-50 disabled:cursor-not-allowed">
        <mat-icon>arrow_circle_left</mat-icon>
      </button>
      <div class="text-xl font-bold">{{ "candidate_resume.education" | transloco}}</div>
      <button type="button" (click)="nextEducation()" [disabled]="currentEducationIndex === educationFormArray.length - 1"
              class="flex flex-row mx-4 px-1 py-0.5 items-center text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 disabled:opacity-50 disabled:cursor-not-allowed">
        <mat-icon>arrow_circle_right</mat-icon>
      </button>
      <div class="grow"></div>
    </div>

    <div [formGroup]="currentEducationFormGroup" class="mb-4 p-1 border border-gray-300 rounded-lg dark:border-gray-600">
      <div class="flex flex-row justify-between items-center mb-6 text-lg font-semibold">
        <div>Educación {{ currentEducationIndex + 1 }} de {{ educationFormArray.length }}</div>
        <!-- @if(!isInfoEditing){
          <div
            class="text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"

          >
            Modificar
          </div>
        }
        @if(isInfoEditing){
          <button
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"

          >
            Guardar
          </button>
        } -->
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">Degree:</label>
          @if(!isInfoEditing){<div>{{ currentEducationFormGroup.value.degree }}</div>}
          @if(isInfoEditing){
            <input type="text" formControlName="degree" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
          }
        </div>
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">Institution:</label>
          @if(!isInfoEditing){<div>{{ currentEducationFormGroup.value.institution }}</div>}
          @if(isInfoEditing){
            <input type="text" formControlName="institution" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
          }
        </div>
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">Graduation Year:</label>
          @if(!isInfoEditing){<div>{{ currentEducationFormGroup.value.graduationYear }}</div>}
          @if(isInfoEditing){
            <input type="text" formControlName="graduationYear" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
          }
        </div>
      </div>

      <div class="flex justify-end mt-4">
        <button type="button" (click)="removeEducation(currentEducationIndex)"
                class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
          Eliminar
        </button>
      </div>
    </div>

    <div class="flex justify-start mt-4">
      <button type="button" (click)="addEducation()"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Añadir Educación
      </button>
    </div>
  }
  </div>

  <div class="flex flex-row pt-4 justify-between items-center text-lg font-semibold">

    <!-- Back -->
    <ng-container>
      <button *ngIf="hasChanges && !showBasicInfo"
              type="button"
              (click)="saveAndGoBack()"
              class="flex flex-row items-center text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <mat-icon>arrow_back</mat-icon>
        <div>Back</div>
      </button>
      <div *ngIf="!hasChanges && !showBasicInfo"
          class="flex flex-row items-center text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          (click)="goBackShow()">
        <mat-icon>arrow_back</mat-icon>
        <div>Back</div>
      </div>
    </ng-container>

    <div class="grow"></div>

    <!-- Avanzar -->
    <ng-container>
      <button *ngIf="hasChanges && !showEducation"
              type="button"
              (click)="saveAndForward()"
              class="flex flex-row items-center text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <div>Avanzar</div>
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <div *ngIf="!hasChanges && !showEducation"
          class="flex flex-row items-center text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          (click)="forwardShow()">
        <div>Avanzar</div>
        <mat-icon>arrow_forward</mat-icon>
      </div>
    </ng-container>

  </div>

  </form>

}


<!--

    <div class="flex flex-row pt-4 justify-between items-center text-lg font-semibold">
      <button
        class="flex flex-row items-center text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        [ngClass]="{'hidden' : showBasicInfo}"
        (click)="goBackShow()"
      >
        <mat-icon>arrow_back</mat-icon>
        <div>
          Back
        </div>
      </button>
      <div class="grow"></div>
      <button
        class="flex flex-row items-center text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        [ngClass]="{'hidden' : showEducation}"
        (click)="forwardShow()"
      >
        <div>
          Avanzar
        </div>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>





    <div class="flex flex-row pt-4 justify-between items-center text-lg font-semibold">
      <div
        class="flex flex-row items-center text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        [ngClass]="{'hidden' : showBasicInfo}"
        (click)="goBackShow()"
      >
        <mat-icon>arrow_back</mat-icon>
        <div>
          Back
        </div>
      </div>
      <div class="grow"></div>
      <div
        class="flex flex-row items-center text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        [ngClass]="{'hidden' : showEducation}"
        (click)="forwardShow()"
      >
        <div>
          Avanzar
        </div>
        <mat-icon>arrow_forward</mat-icon>
      </div>
    </div> -->
