<div class="text-center flex flex-col w-max m-auto">

  @if(errorMessage) {
  <div>
    {{ errorMessage }}
  </div>
  }

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <input class="outline-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md mb-2 focus:border-neutral-400 w-full px-2.5 py-1 dark:text-gray-100 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      type="text" placeholder="Email" formControlName="email" />
    </div>
    <div>
      <input class="outline-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md mb-2 focus:border-neutral-400 w-full px-2.5 py-1 dark:text-gray-100 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      type="password" placeholder="Password" formControlName="password" />
    </div>
    <div>
      <button class="m-2 py-1 px-4 bg-black dark:bg-white text-white dark:text-black rounded-full" type="submit">
        Log In
      </button>
    </div>
  </form>
</div>
