<div class="ml-2 mt-16">
  <div
    class="flex flex-col w-52 h-fit shadow-md text-sm text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-900 rounded-xl border border-gray-200 dark:border-neutral-700"
    (click)="$event.stopPropagation()">

    @for (thread of chatThreads; track thread.threadId; let last = $last) {
    <div
      [class]="'flex flex-row px-2 py-1 ' + (!last ? 'border-b border-gray-200 dark:border-gray-600' : '')"
    >
      <div
        (click)="selectThread(thread.threadId)"
        [class]="'flex flex-row p-2 grow cursor-pointer rounded-lg hover:bg-neutral-100 dark:hover:bg-neutral-700 items-center ' +
        (currentThreadId === thread.threadId ? 'bg-blue-100 dark:bg-blue-900' : '')"
      >
        <mat-icon>robot_2</mat-icon>
        <div class="pl-3">{{ thread.name }}</div>
      </div>
    </div>
    }

  </div>

</div>
