<p>sync-resume works!</p>

<div class="border-2 border-red-700 p-4 m-4"
 (click)="runMigration()">
  Sincronizada power METE IDs a los resumes<br>
  <span class="font-bold text-red-600">CUIDADO - WARNING - CUIDADO</span>

</div>

<div class="sync-section bg-orange-300 m-8 p-8">
  <h3>Sincronización con Agente AI</h3>

  <button
    mat-raised-button
    color="primary"
    (click)="syncAllResumeToAgent()"
    [disabled]="syncing">

    <!-- <mat-icon *ngIf="!syncing">sync</mat-icon>
    <mat-spinner *ngIf="syncing" diameter="20"></mat-spinner> -->

    {{ syncing ? 'Sincronizando...' : 'Sincronizar TODOS TODOS los RESUMEs' }}
  </button>


  <button class="bg-violet-400 p-4 font-semibold"
    mat-raised-button
    color="primary"
    (click)="syncOneResumeToAgent()"
    [disabled]="syncing">

    <!-- <mat-icon *ngIf="!syncing">sync</mat-icon>
    <mat-spinner *ngIf="syncing" diameter="20"></mat-spinner> -->

    {{ syncing ? 'Sincronizando...' : 'Sincronizar ESTE RESUME' }}
  </button>


  <button class="bg-green-400 p-4 font-semibold"
    mat-raised-button
    color="primary"
    (click)="syncDeleteOneResumeToAgent()">

    BORRAR RESUMEsRESUMEsRESUMEs

  </button>

  <p class="help-text">
    Esto enviará TODOS los RESUMEs al agente AI para análisis.
  </p>
</div>
