<div
  class="z-[51] absolute flex flex-col w-screen h-full bg-neutral-700 bg-opacity-90 dark:bg-neutral-900 dark:bg-opacity-95">
  <div
    class="m-auto max-w-[90%] sm:max-w-screen-sm md:max-w-screen-md py-4 px-1 sm:p-10 bg-white border border-neutral-200 dark:bg-neutral-800 dark:border-neutral-700 rounded-2xl shadow">

    <div class="flex flex-col items-center text-center text-xs sm:text-sm text-neutral-700 dark:text-neutral-200">


      <div class="mb-5 sm:mb-7 mt-4 px-4 text-base sm:text-xl font-medium text-brand">
        Welcome!
      </div>

      <div class="pb-6 w-11/12 text-left">
        <div class="pb-4">
          This teacher helps you understand the selected course. You can chat with them or use the available
          <strong>"Chat interaction tools"</strong>.
          <!-- <mat-icon class="pt-1">speaker_notes</mat-icon> -->
        </div>
        <div class="pb-2">
          Each course is divided into "sections," which you can select to focus your learning.
        </div>
      </div>


      <div class="flex flex-row gap-2 sm:gap-8 py-2 sm:pt-2 pt-0 sm:pb-8 pb-4 mx-2">
        <div (click)="goToLink('lzaoU2FzSH73sEZlFanw')"
          class="flex items-center p-2 sm:p-3 sm:gap-2 text-sm font-semibold bg-neutral-150 dark:bg-neutral-700 text-neutral-700 dark:text-neutral-100 rounded-lg cursor-pointer border shadow-md">
          <mat-icon class="!hidden sm:!block">rocket_launch</mat-icon>
          Ethics for Employees
        </div>

        <!-- <div (click)="goToLink('employee')"
          class="flex items-center p-2 sm:p-3 sm:gap-2 text-sm font-semibold bg-neutral-150 dark:bg-neutral-700 text-neutral-700 dark:text-neutral-100 rounded-lg cursor-pointer border shadow-md">
          <mat-icon class="!hidden sm:!block">rocket_launch</mat-icon>
          Ethics for Employees
        </div> -->

        <div (click)="goToLink('VaygEdhZNZt7TdqQi7MD')"
          class="flex items-center p-2 sm:p-3 sm:gap-2 text-sm font-semibold bg-neutral-150 dark:bg-neutral-700 text-neutral-700 dark:text-neutral-100 rounded-lg cursor-pointer border shadow-md">
          <mat-icon class="!hidden sm:!block">rocket_launch</mat-icon>
          Ethics for Supervisors
        </div>

      </div>



      <!-- Explicación de los tres botones en el chat -->
      <div class="pb-4 w-11/12 mt-8">
        <div class="pb-4 font-semibold text-sm">
          Chat Interaction Tools
        </div>
        <div class="text-left flex flex-col gap-2">
          <div class="flex items-start mb-2">
            <div class="w-7">
              <mat-icon class="text-2xl !w-7 !h-7">chat_info</mat-icon>
            </div>
            <span class="ml-4">The teacher will start explaining the content of the selected section.</span>
          </div>
          <div class="flex items-start mb-2">
            <div class="w-7">
              <mat-icon class="text-2xl !w-7 !h-7">person_raised_hand</mat-icon>
            </div>
            <span class="ml-4">The teacher will ask you a basic question related to the chosen topic.</span>
          </div>
          <div class="flex items-start mb-2">
            <div class="w-7">
              <mat-icon class="text-2xl !w-7 !h-7">quiz</mat-icon>
            </div>
            <span class="ml-4">The teacher will test you with more targeted and difficult questions based on the
              selected section.</span>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
